.top_header {
  background-color: #333333;
  color: #fff;
}

.top_header_inner {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.left_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 60px;
}

.top_menu {
  display: flex;
}

.top_menu img {
  padding: 32px;
  background-color: #3b3b3b;
  display: block;
  margin-right: 2px;
  transition: all .3s;
  cursor: pointer;
}

.top_menu img:hover {
  background-color: #F05A00;
}

.phones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phone {
  font-size: 18px;
}

.order_call {
  font-size: 14px;
  color: #FC573B;
  cursor: pointer;
}

.total {
  margin-left: 16px;
  min-width: 140px;
}