.brand_slider {
  background-color: #3b3b3b;
  height: 246px;
}

.slider_title {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Prosto One', cursive;
  color: #fff;
  margin-bottom: 28px;
  padding-top: 54px;
}