.product_item {
  background-color: var(--white);
  width: 310px;
  border-radius: 5px;
  padding: 12px;
  position: relative;
  text-align: center;
}

.top_signs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.add_to {
  display: flex;
}

.product_img {
  margin: 0 auto 12px;
}

.bars {
  margin-right: 8px;
}

.product_title {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Raleway';
  margin-bottom: 12px;
  text-align-last: left;
}

.color_bars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.bar_item,
.bar_item_active {
  width: 70px;
  height: 2px;
  background-color: #DEDBDB;
}

.bar_item_active {
  background-color: #FFB78B;
}

.properties {
  display: flex;
  justify-content: space-between;
}

.price_box {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.discount_price {
  font-weight: 600;
  font-size: 20px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #DEDBDB;
}

.in_stock {
  font-weight: 400;
  font-size: 14px;
  color: #126935;
  margin-right: 60px;
  white-space: nowrap;
}

.stock {
  display: flex;
  gap: 4px;
  align-items: center;
}

.stock_img {
  width: 16px;
  height: 16px;
}