@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  height: 40px;
  width: 40px;
}

.slick-arrow.slick-prev {
  left: -60px;
}

.slick-arrow.slick-next {
  right: -55px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px !important;
}