@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  --white: #fff;
  --background: #f2f5f7;
  --black: #000;
  --gray: #dedbdb;
  --smoky: #8a8a8a;
  --dark-gray: #3b3b3b;
  --coal: #212526;
  --orange: #f05a00;
  --red: fc573b;

  --transititon: all .3s;
}

.orange {
  background-color: var(--orange);
}

.orange:hover {
  background-color: var(--black);
}

.gray {
  background-color: var(--gray);
}

.gray:hover,
.smoky:hover,
.coal:hover {
  background-color: var(--orange);
}

.smoky {
  background-color: var(--smoky);
}

.coal {
  background-color: var(--coal);
}

.black {
  background-color: var(--black);
  width: 230px;
  height: 50px;
  border: 2px solid var(--black);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  transition: var(--transititon);
}

.black:hover {
  background-color: var(--white);
  color: var(--black)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  height: 40px;
  width: 40px;
}

.slick-arrow.slick-prev {
  left: -60px;
}

.slick-arrow.slick-next {
  right: -55px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px !important;
}